<div class="container">
    <img src="../../../../assets/question_how.svg" style="margin: auto;height: 100px;display: block;margin-bottom: 20px;">
<p><span>2.</span>  Scan the QR code on the station with the app.</p>
<p><span>3.</span>  A green light will appear at the powerbankslot you can use.</p>
<p><span>4.</span>  Take Your Powerbank and close the powerbankslot.</p>
<p><span>5.</span>  Charge your phone untill you're satisfied</p>
<p><span>6.</span>  return the powerbank to a station of your choice</p>
<p><span>7.</span>  Scan the QR code on the station with the app</p>
<p><span>8.</span>  A green light will appear at the powerbankslot you can use.</p>
<p><span>9.</span>  Return the powerbank.</p>
<p><span>10.</span>  Pay with the app and the powerbank will be returned safely.</p>
<button (click)="navigate('/main/maps');" class="button-medium" style="margin: auto;display: block;">I Got It!</button>
</div>
