agm-map {
  height: 94vh;
}
.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  background-color: #1D1C3D !important;
  border: none !important;
}

button {
  position: absolute;
  margin-top: -25vh;
}
.btn-text {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding-top: 20%;
  letter-spacing: 3px;
  margin-left: -2px;
}
.center {
  text-align: center;
  margin-left: -100px;
}
